<div class="card">
  <div class="card-img-top">
    <img  width="50%" src="{{flag}}" alt="{{name}}"   >
  </div>
  <div class="card-body">
    <h1 class="card-title">{{name}}</h1>
    <h3 class="card-text" >Capital: {{capital}} </h3>
    <h3 class="card-text">Population: {{population}} </h3>

    <p class="card-text"><b>Languages:</b></p>
    <ul class="list-group"></ul>
    {{#each this.languages}}
      <li class="list-group-item">{{name}}</li>
      {{/each}}
    </ul>
  </div>
</div>